<ul class="items">
<li *ngFor="let item of items"
    [class.selected]="item === selectedItem"
    (click)="onSelect(item)">
    <span class="badge">{{item.name}}</span>${{item.price}}
    <button class="delete"
          (click)="add(item); $event.stopPropagation()">
        Add to cart
    </button>
  </li>
</ul>


<h1>Cart ${{_cartService.cart.totalPrice}}</h1>
<ul class="items">
  <li *ngFor="let cartItem of _cartService.cart.items"
      [class.selectedCart]="cartItem === selectedCartItem"
      (click)="onSelectCart(cartItem)">
    <!---Fix this line when I get the time-->
    <span class="badge">{{cartItem.name}}</span>${{cartItem.price}}
    <button class="delete"
            (click)="deleteCart(cartItem); $event.stopPropagation()">
      Delete from cart
    </button>
  </li>
</ul>

